@font-face {
    font-family: RobotoCondensed;
    src: url(assets/roboto-condensed.light.ttf);
    font-weight: 800;
}

@font-face {
    font-family: EconomicaBold;
    src: url(assets/economica-bold.ttf);
}

body {
    text-align: center;
    font-size: 20px;
    padding: 2.5%;
    font-family: 'RobotoCondensed';
}

h1, h2, h3, h4, h5 {
    font-family: 'EconomicaBold';
}

hr {
    height: 1px;
    background: black;
}

.cover {
    width: 350px;
    height: 144px;
    border-radius: 50px;
    border: 3px solid #555;
    margin: 25px 25px 25px 25px;
}

.actualcover {
    width: 700px;
    height: 288px;
    border-radius: 50px;
    border: 3px solid #555;
    margin: 2px 2px 2px 2px;
}

.figure {
    width: 250px;
    height: 350px;
    position: relative;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}

.figure-image {
    width: 250px;
    height: 350px;
    object-fit: cover;
}

.figure-text {
    position: absolute;
    width: 250px;
    bottom: 0px;
    background-color: black;
    color: white;
    padding: 5px;
}